.articleWrapper {
  background-color: rgba(196, 221, 221, 0.228);
  border: solid 1px black;
  border-radius: 10px;
  display: flex;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  height: 300px;
  padding: 8px;
  width: 250px;
}

.articleContainer{
  height: 100%;
  width: 100%;
}

.articleTitle {
  height: 50px;
  width: 100%;
}

.articleBody{
  height: 220px;
  width: 100%;
}

.articleFooter{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0;
}

.articleEdit{
  align-items: center;
  border: solid 1px black;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 8px;
  justify-content: center;
  margin-right: 6px;
  padding: 6px;
  width: 24px;
}

.articleDelete{
  align-items: center;
  border: solid 1px black;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 8px;
  padding: 6px;
  width: 24px;
}