h1,h2,h3,h4,h5,h6{
  font-family: cursive;
}

.articleWrapper {
  background: radial-gradient(circle,rgba(180,182,218,.9) 0,rgba(226,236,253,.9) 100%);  border: solid 1px black;
  display: flex;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  height: 300px;
  padding: 8px;
  width: 250px;
}

.articleContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.articleTitle {
  align-items: center;
  background-color: #e1ebfd;
  border-radius: 8px;
  border: none;
  color: #271c6c;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
}

.articleBody{
  align-items: center;
  background-color: #e1ebfd;
  border-radius: 8px;
  border: none;
  height: 200px;
  padding-left: 5px;
  width: 100%;
}

.articleTheme{
  align-items: center;
  background-color: #e1ebfd;
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5px;
}

.articleFooter{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0;
}

.articleEdit{
  align-items: center;
  background-color: #271c6c;
  border: 2px solid #e1ebfd;
  border-radius: 20px;
  box-shadow: 2px 4px 10px #271c6c;
  color: #e1ebfd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 8px;
  padding: 6px;
  width: 24px;
}

.articleDelete{
  align-items: center;
  background-color: #271c6c;
  border: 2px solid #e1ebfd;
  border-radius: 20px;
  box-shadow: 2px 4px 10px #271c6c;
  color: #e1ebfd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 8px;
  padding: 6px;
  width: 24px;
}



